PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/bee_immo?retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5000,http://127.0.0.1:5000,https://your-frontend.vercel.app
ADMIN_EMAIL=admin@beeconsulting.local
ADMIN_PASSWORD=admin123
AUTH_SECRET=17e7Hsh84DmKz3IC3eAJ6TLiUEDZfplbL03CMe6l7UE=
CLOUDINARY_CLOUD_NAME=dvmsbizbn
CLOUDINARY_API_KEY=665863659521879
CLOUDINARY_API_SECRET=AG2F7huelyw05rINyuWWu_wpgd4

